*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.wrapper{
	width: 100%;
}
.header{
	width: 80%;
	margin: 0 auto;
}
.logo{
	width:8%;
	display: inline-block;
	margin-top: 10px;
}
.logos{
	width: 100%;
}
.menu{
	width: 45%;
	float: right;
	margin: 30px 0 0 0;
}
.menu ul{
	list-style-type: none;
	float: right;
}
.menu ul li{
	float: left;
	padding: 0 15px;
}
.menu ul li a{
	text-decoration: none;
	font-weight: 700;
	color: #594A5D;
}
.bannar{
	width: 100%;
	min-height: 300px;
}
.wrapper2{
	width: 50%;
	margin: 0 auto;
	padding: 40px 0;
}
.bannerhead{
	color:#273857 ;
	font-size: 50px;
	margin: 20px 0;
}
span{
	color: #008AFF;
}
.cen{
	text-align: center;
}
.bannerp{
	font-size: 18px;
	margin: 20px 0;
}
.bannerimg{
	display: inline-block;
	margin: 15px 274px;
}
.service{
	width: 100%;
	min-height: 200px;
}
.wrapper3{
	width: 50%;
	margin: 0 auto;
	min-height: 200px;
}
.k3{
	width: 45%;
	display: inline-block;
	text-align: right;
	padding: 15px;
}
.kplus{
	font-size: 45px;
	color: #FF5C58;
}
.success{
	width: 55%;
	float: right;
	text-align: left;
	padding: 15px;
	font-size:22px;
	color: #1E3163;
}
.portfolio{
	width: 100%;
	min-height: 250px;
	overflow: hidden;
	margin: 30px 0;
}
.wrapper4{
	width: 80%;
	margin: 0 auto;
	min-height: 250px;
	overflow: hidden;
}
.port{
	width: 30%;
	min-height: 200px;
	float: left;
	margin: 25px;
}
.porti{
	width: 100%;
}
.footer{
	width: 100%;
	min-height: 100px;
	background-color:#3D56B2 ;
	margin-top: 30px;
}
.footerp{
	text-align: center;
	width: 100%;
	color: white;
	padding-top: 40px;
}
